@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    background: #4233fb10;
    /* background-image: radial-gradient(circle, #4233fb50 1px, #f9f9f9 1px); */
    background-size: 20px 20px; 
    color: #1a1a1a;
    margin: 0;

    
}

h1,h2,h3, h4{
    font-family: 'Montserrat', sans-serif;
}

button{
    /* width: 200px;
    height: 50px; */
    padding: 0.4rem 1rem;
    border: 2px solid #4233fb;
    border-radius: 10px;
    background: none;
    color: #4233fb;
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
}
button:hover{
    background: #4233fb;
    color: #f9f9f9;
    cursor: pointer;
}

code{
  padding: 0 3px;
  background: #dedede;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: 'Source Code Pro', monospace !important;
  font-size: 1rem !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  
    /* height: 0.5em; */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(66, 51, 251, 0.05);
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(66, 51, 251, 0.2);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(66, 51, 251, 1);
  }

  .ace_editor{
    font-family: 'Source Code Pro', monospace !important;
    font-size: 1rem !important;
  }