@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    background: rgb(250, 250, 255);
    background: radial-gradient(circle at top left, #f9f9f9, #f1efff); 
    color: #1a1a1a;
    margin: 0;

    
}

h1,h2,h3, h4{
    font-family: 'Poppins', sans-serif;
}

button{
    /* width: 200px;
    height: 50px; */
    padding: 0.4rem 1rem;
    border: 2px solid #4233fb;
    border-radius: 2rem;
    background: none;
    color: #4233fb;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
}
button:hover{
    background: #4233fb;
    color: #f9f9f9;
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  
    /* height: 0.5em; */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(66, 51, 251, 0.1);
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(66, 51, 251, 0.2);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(66, 51, 251, 1);
  }